.logoNav{
    width:100px;
    height:100px;
}

nav{
    background-color: #C5DED4;
}

.menuLinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.linkPages{
    text-decoration: none;
    margin-left: 0.5%;
    margin-right: 3%;
    color:black
}

.cartWidget{
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start;
    margin-left: 10%;

}
